.about-us {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: #ffffff;
  color: #000000;
}

.about-us__title {
  padding-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  .order-reset();
}

.about-us__item {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
}
