.button {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 85px;
  padding-left: 85px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  line-height: 20px;
  text-align: center;
  border: 2px solid #000000;

  &__goods {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    background-color: #6ec2b3;
    line-height: 24px;

    &--toys {
      background-color: #56c3b2;
    }
  }

  &--prev {
    border: 2px solid #ececec;
  }

  &--next {
    border: 2px solid #ececec;
  }

  &--add {
    background-color: #6ec2b3;
    color: #ffffff;
    font-size: 16px;
    line-height: 17px;
    border: none;
  }
}
