.filter-order {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.filter-order__slogan {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.filter-order__form-type {
  padding: 0;
  margin-bottom: 35px;
  border: none;
}

.filter-order__legend {
  padding-bottom: 40px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6ec2b2;
}

.filter-order__form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
