.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.main-nav__list {
  .order-reset();
}

.main-nav__item {
  padding-top: 30px;
  padding-bottom: 35px;
}
