.modal-order {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #ffffff;
  color: #000000;

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;

    & legend {
      font-size: 15px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
  }
}
