.page-footer {
  margin: 0;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 23px;
  background-color: #f1f1f1;
  font-size: 19px;
  line-height: 18px;

  &__social {
    .order-reset();
  }

  &__link {
    padding-bottom: 23px;
  }
}
