.product {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.product__list {
  .order-reset();
}

.product__item {
  border: 2px solid #ededed;
  margin-bottom: 30px;
}

.product__link {
  font-size: 17px;
  line-height: 24px;
}

.product__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
}
