.radiobutton {
  padding-left: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.radiobuttpn__input {
  margin: 0;
}

.radiobutton__label {
  display: block;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .radiobutton {
    padding-left: 80px;
    font-size: 19px;
  }

  .radiobutton__label {
    padding-top: 18px;
    padding-bottom: 40px;
  }
}
