.week-best {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  background-color: #ffffff;
  color: #000000;
}

.week-best__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
}

.week-best__description-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-best__text-wrapper {
  display: flex;
  flex-direction: column;
}

.week-best__order-wrapper {
  position: absolute;
  align-self: center;
  text-align: center;
  width: 260px;
  bottom: 35px;
}

.week-best__image-wrapper {
  margin-top: 30px;
  margin-bottom: 165px;
}

.week-best__title {
  margin: 0;
  margin-top: 10px;
  order: 1;
  font-size: 17px;
  line-height: 20px;
  color: #56c3b2;
  background-color: #ffffff;
  text-transform: uppercase;
}

.week-best__name {
  display: block;
  font-size: 25px;
  line-height: 30px;
}

.week-best__description {
  align-self: center;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.week-best__list {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.week-best__value {
  border-bottom: 1px solid #ececec;
  padding-top: 14px;
  padding-bottom: 12px;
}

.week-best__picture {
  background-color: #f1f1f1;
}

.week-best__price {
  display: inline-block;
  align-self: center;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .week-best {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .week-best__wrapper {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .week-best__description-wrapper {
    width: 100%;
    flex-direction: row;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .week-best__text-wrapper {
    width: 50%;
    padding-right: 43px;
  }

  .week-best__order-wrapper {
    position: inherit;
  }

  .week-best__image-wrapper {
    width: 50%;
    height: 404px; //временная высота
    background-color: #f1f1f1;
    margin: 0;
  }

  .week-best__description {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-best__list {
    margin-bottom: 40px;
  }

  .week-best__title {
    width: 75px;
    margin: 0;
    padding-right: 28px;
    line-height: 17px;
    margin-left: auto;
    text-align: center;
  }

  .week-best__name {
    font-size: 43px;
    line-height: 50px;
  }

  .week-best__price {
    font-size: 20px;
  }
}

@media(min-width: @desktop-width) {
  .week-best {
    margin-left: 50px;
    margin-right: 50px;
  }

  .week-best__wrapper {
    padding: 0;
    position: absolute;
    top: 65px;
    left: 0;
  }

  .week-best__title {
    margin: 0;
    margin-left: 47px;
    padding-right: 60px;
    text-align: center;
  }

  .week-best__name {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }

  .week-best__description-wrapper {
    padding: 0;
    align-items: flex-start;
  }

  .week-best__text-wrapper {
    width: 285px;
    margin-top: 165px;
    margin-left: 175px;
    padding-right: 58px;
    flex-grow: 1;
  }

  .week-best__image-wrapper {
    width: 525px;
    height: 636px; //временный размер
    flex-grow: 1;
  }

  .week-best__description {
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .week-best__list {
    margin-bottom: 80px;
  }

  .week-best__price {
    margin-bottom: 40px;
  }
}
