/*Глобальные стили*/

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 19px;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
